<div class= "content mt-3">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <h2>All Restaurants</h2>

    <br>
      <% if policy(Restaurant).create? %>
        <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-light mt-2 " %>
      <% end %>

    <div class= "content">
      <div class="row ">
        <div class= "cards">

          <%# <div class= "cards"> %>
          <% @restaurants.each do |restaurant| %>
            <%# <div class="clickable"> %>
              <div class= "card">

                <%# <div class="img_brand_restaurant">
                  <%= @restaurant.picture_url? @restaurant.picture_url : "No restaurant Photo" %>
                <%# </div> %>

                <div class="title_card row justify-content-between">
                  <div class='restaurant-box'>
                    <h2><%= restaurant.name %></h2>
                    <p><%= restaurant.location %></p>
                    <p>User:<%= restaurant.user_id %></p>
                    <div class='figure-container'>
                      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large">
                    </div>
                  </div>

                  <div class="card-actions">
                    <td><%= link_to 'Show', restaurant %></td>
                    <% if policy(restaurant).edit? %>
                      <%= link_to "Edit", edit_restaurant_path(restaurant) %>
                    <% end %>
                    <% if policy(restaurant).destroy? %>
                      <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  </div>

                </div>
              </div>
            <%# </div> %>
          <% end %>
        <%# </div> %>

        </div>
      </div>
    </div>

  </div>
</div>
