<div class="map" style="background-image: url('<%= @restaurant.picture_url %>')"></div>
<div class= "content-b">
  <p id="notice"><%= notice %></p>
  <div class="title_card row justify-content-between">
    <h1><%= @restaurant.name %></h1>
    <div>
      <p><%= @restaurant.location %></p>

      <p><%= @restaurant.description %></p>

      <a><strong>User:</strong><%= @restaurant.user_id %></a>
    </div>
  </div>

  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to 'Leave a new beverage', new_restaurant_menu_beverage_path(@restaurant), class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Leave a new meal', new_restaurant_menu_meal_path(@restaurant), class: "nav-link"  %>
      </li>
    </ul>
  </div>

  <div >
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-secondary mt-4 w-25" %>
  </div>

  <div >
    <%= link_to 'Back', restaurants_path, class: "btn btn-secondary mt-4 w-25"  %>
  </div>



  <div class='restaurant-menu-group__container '></div>

    <%= @restaurant.menu_meals.each do |menu_meal| %>

      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1542826438-bd32f43d626f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1292&q=80" />
        <div class="card-product-infos">
          <h2><%= menu_meal.meal_name%></h2>
          <p><%= menu_meal.description_meal %></p>
          <p><%= menu_meal.portion_meal %></p>
          <p><%= menu_meal.price_meal%></p>
        </div>
      </div>

    <% end %>

    <%= @restaurant.menu_beverages.each do |menu_beverage| %>

      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1556679343-c7306c1976bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" />
        <div class="card-product-infos">
          <h2><%= menu_beverage.name_beverage%></h2>
          <p><%= menu_beverage.description_beverage %></p>
          <p><%= menu_beverage.portion_beverage %></p>
          <p><%= menu_beverage.price_beverage%></p>
        </div>
      </div>

    <% end %>
  </div>

    <%# <li class="list-group-item">
      <%= menu_beverage.content%>
      <%# <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>

        <%# <%= link_to "Remove",
          menu_meal_path(menu_meal),
          method: :delete,
          data: { confirm: "Are you sure?" } %>


</div>
