<div class="map" style="background-image: url('<%= @restaurant.picture_url %>')"></div>
<div class= "content">
  <div class= "cards">
    <div class= "card">

      <p id="notice"><%= notice %></p>
      <div class="title_card">
        <h1><%= @restaurant.name %></h1>
        <p><%= @restaurant.location %></p>

        <p><%= @restaurant.description %></p>
        <p>
          <strong>User:</strong>
          <%= @restaurant.user_id %>
        </p>
      </div>
      <div >
      <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-secondary mt-4 w-100" %>
      </div>

      <div >
      <%= link_to 'Back', restaurants_path, class: "btn btn-secondary mt-4 w-100"  %>
      </div>
      <div>
      <%= link_to 'Leave a new meal', new_restaurant_menu_meal_path(@restaurant) %>
      <%= link_to 'Leave a new beverage', new_restaurant_menu_beverage_path(@restaurant) %>
      </div>
    </div>
  </div>
</div>
