<div class="map" style="background-image: url('<%= @restaurant.picture_url %>')"></div>
<div class= "content">
  <div class= "cards">
    <div class= "card">

      <p id="notice"><%= notice %></p>

      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.description %></p>
      <p>
        <strong>User:</strong>
        <%= @restaurant.user_id %>
      </p>

      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <%= link_to 'Back', restaurants_path %>
    </div>
  </div>
</div>
